<% include header %>

<div class="container row">
  <form id="form" class="col s12" method="post" action="<%= mod %>">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" name="name" class="validate" value="<%= content.name %>">
        <label for="name">메뉴 이름</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2">
        <input id="price" type="text" name="price" class="validate" value="<%= content.price %>">
        <label for="price">가격</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s1">
        <input id="stock" type="text" name="stock" class="validate" value="<%= content.stock %>">
        <label for="stock">재고량</label>
      </div>
       <div class="input-field col s1">
        <input id="max" type="text" name="max" class="validate" value="<%= content.max %>">
        <label for="max">총 수량</label>
      </div>
    </div>
    <div class="row">
      <p style="margin: 1rem 1rem">
        <input type="checkbox" id="alcohol" name="alcohol" <%= content.alcohol %>>
        <label for="alcohol">조리가 필요없는 것( 주류 )</label>
      </p>
    </div>

    <button class="btn waves-effect waves-light" action="form" type="submit" >Submit
      <i class="mdi-content-send right"></i>
    </button>
  </form>
</div> 

<% include footer %>
