<% include header %>

<nav class="top blue">
  <a class="brand-logo right" style="margin-right: 2rem">총계 : <sapn id="sum"></span>w</a>
</nav>

<div style="margin: 0 1rem">
  <table class="spider">
  <thead>
    <tr>
        <th data-field="TbNum">테이블 번호</th>
        <th data-field="Order">주문 내역</th>
        <th data-field="SumVal">주문 금액</th>
        <th data-field="Time">시간</th>
    </tr>
  </thead>

  <tbody>
    <% for (var i=bill.length-1; i >= 0; i--) { %>
    <tr class='data' id='<%= i %>'>
        <td><%= bill[i].tbNum %></td>
        <td><%- bill[i].order %></td>
        <td id='val'><%= bill[i].sum %></td>
        <td><%= bill[i].time %></td>
        <td style="width:1rem"><a href="/del?type=bill&id=<%= i %>"><i class='mdi-action-delete' style="font-size:1.5rem"></i></a></td>
    </tr>
    <% } %>
  </tbody>
  </table>
</div>


<script>
  //콤마찍기
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  $(document).ready(function(){
    setTimeout("history.go(0);",5000);
    
    var sum = 0;
    $('.data').each(function(){
      val = $(this).children('#val').html();
      sum += val*1;
      $(this).children('#val').html(numberWithCommas(val));
    });
    $('#sum').html(numberWithCommas(sum));
  });
</script>

<% include footer %>
