<% include header %>

<div class="wrap" data-index="<%= index %>">
	<% for (i in food) { %>
	<div class="row">
		<div id="<%= i %>" class="card" style="padding: 1rem 1.5rem; p">
			<div class="left" style="width: 50%;">
				<sapn class="card-title grey-text text-darken-4"><%= food[i].tbNum %></sapn>
			</div>
			<div class="right" style="width: 50%;">
				<span class="num"><%= food[i].time %></span>
				<span>수량 : <b class="price"><%= food[i].amount %></b></span>
			</div>
		</div>
	</div>
	<% } %>
</div>

<nav class="foot blue">
	<a href="#" class="brand-logo left modal-trigger">주문 완료</a>
</nav>


<script>
	$(document).ready(function(){
		setTimeout("history.go(0);",5000);
		var index = $('.wrap').data('index');

		$(".card").click(function(){
			var id = $(this).attr("id");

			var url = location.origin+'/del?type=food&index='+index+'&id='+id;

			$.get(url, function(data) {
				alert(data)
			 	location.reload();
			});
		});

		$('nav').click(function(){
			var id = $('#0');

			if (id != 'undefinded'){
				var url = location.origin+'/del?type=food&index='+index+'&id='+0;

				$.get(url, function(data) {
					alert(data);
				 	location.reload();
				});
			}
			
		});
	});
</script>
<% include footer %>