<div class="bg-container pg-menus">
    <div class="container">
        <h2 class="title">메뉴 설정</h2>
        <div class="content">
            <div class="row">
                <form id="frm-edit_menu" class="col s12">
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{name}}" id="menu_name" type="text" class="validate" name="name" value="{{name}}">
                            <label for="menu_name">메뉴 이름</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{init}}" id="init" type="text" class="validate" name="init" value="{{init}}">
                            <label for="init">초기수량</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{stock}}" id="stock" type="text" class="validate" name="stock" value="{{stock}}">
                            <label for="stock">재고량</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="{{price}}" id="price" type="text" class="validate" name="price" value="{{price}}">
                            <label for="price">원가</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="{{cost}}" id="cost" type="text" class="validate" name="cost" value="{{cost}}">
                            <label for="cost">판매가</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Submit<i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#frm-edit_menu').submit(function () {
            var queryString = $('#frm-edit_menu').serialize();

            $.ajax({
                method: "POST",
                url: '/admin/menus',
                data: queryString,
            }).done(function (rtn) {
                location.href = '/admin/menus';
            });
            return false;
        });
    });
</script>